.header {
    background: url(../../assets/images/desktop/image-hero.jpg) center top no-repeat;
    background-size: cover;
    padding-bottom: 50px;
}

.container-text {
    padding-left: 12px;
}

.text-header {
    color: white;
    border: 2px solid white;
    height: 10rem;
    margin-top: 2rem;
    max-width: 20rem;
    min-width: 250px;
}

.text-header p {
    font-family: "Josefin Sans";
    font-size: 1.9rem;
    margin: 0;
    padding: 10px 15px;
    text-transform: uppercase;
}